<%= render partial: 'small_banner', object: @cocktail.name %>
<!-- object: @cocktail permet d'envoyer une variable au partial. Il faut le nommer object ! -->

<div class="container">

  <div class="row my-4">
    <ul>
      <% @cocktail.doses.each do |dose| %>
        <li>
          <%= dose.ingredient.name %> (<%= dose.description %>)
          <%= link_to "Delete this ingredient", dose_path(dose), method: :delete %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<div class="container fixed-bottom">
  <div class="row my-3 pb-5">
    <div class="col-12 col-md-3">
      <%= link_to 'Create a new cocktail', new_cocktail_path, :class => "btn btn-success m-1" %>
    </div>
    <div class="col-12 col-md-3">
      <%= link_to "Add an ingredient", new_cocktail_dose_path(@cocktail), :class => "btn btn-success m-1" %>
    </div>
    <div class="col-12 col-md-3">
      <%= link_to "Delete this cocktail", cocktail_path(@cocktail), method: :delete, :class => "btn btn-success m-1" %>
    </div>
    <div class="col-12 col-md-3">
      <%= link_to "Back to the cocktail list", cocktails_path, :class => "btn btn-success m-1" %>
    </div>
  </div>
</div>

